body {
	margin: 0;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	background-color: #ffffff;
}

a {
	text-decoration: none;
	color: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
	font-size: 14px;
	line-height: 18px;
	background-color: #ee3643;
	color: #ffffff;

	border-radius: 3px;
}

.btn:hover,
.btn:focus {
	background-color: #ca2c37;
}

.btn:active {
	background-color: #ba2732;
}

/*header*/
.main-header {
	background-color: #f3f7f9;
	margin-bottom: 20px;
	min-height: 320px;
}

.main-header-top {
	background-color: #293449;
}

.centering {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.wrapper {
	display: flex;
	justify-content: space-between;
}

.main-menu {
	font-size: 17px;
	line-height: 17px;
	color: #ffffff;
	background-color: #293449;
	display: flex;
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
	margin-bottom: 48px;

}

.logo {
	text-align: center;
	width: 220px;
	background-color: #ee3643;
	height: 42px;
	box-shadow:  0px 5px 0 0 rgba(181, 41, 51, 1);


}

.logo-img {
	margin-top: 9px;
	transform: scale(1.29) translateX(13px) translateY(5px);
}


.main-menu .logo[href]:hover,
.main-menu .logo[href]:focus,
.footer-logo[href]:hover,
.footer-logo[href]:focus {
	background-color: #ca2c37;
	color: #ffffff;
}

.main-menu	.logo[href]:active,
.footer-logo[href]:active {
	background-color: #ba2732;
	color: #ffffff;
}

.main-menu input[type="search"] {
	font: inherit;
	background-color: #293449;
	border: 0px;

	width: 270px;

	padding: 11px 0px 10px 48px;

	background-image: url("../img/icon-search1.svg");
	background-repeat: no-repeat;
	background-position: 17px 12px;

}
.main-menu	input::placeholder {
	color: #ffffff;
}

.main-menu	input:focus,
.main-menu	input:active {
	background-color: #ffffff;
	color: #000000;

	background-image: url("../img/icon-search-red.svg");
	background-repeat: no-repeat;
	background-position: 17px 12px;
}

.main-menu input:hover {
	background-color: #212a3a;

	background-image: url("../img/icon-search.svg");
	background-repeat: no-repeat;
	background-position: 17px 12px;

}

.main-menu a[href]:hover,
.main-menu a[href]:focus {
	background-color: #212a3a;
}

.main-menu a[href]:active {
	background-color: #161d29;
}

.main-bookmarks {
	padding: 12px 0px 10px 44px;
	width: 120px;
	position: relative;

}

.main-bookmarks::before {
	content: "";

	position: absolute;

	left: 16px;
	top: 12px;

	width: 20px;
	height: 20px;

	background-image: url("../img/icon-bookmark.svg");
	background-repeat: no-repeat;

	opacity: 0.3;
}

.main-bookmarks:hover::before {
	opacity: 1;
}

.main-bookmarks:focus::before {
	opacity: 0.3
}

.main-bookmarks:active::before {
	opacity: 0.5;
}

.main-basket {
	padding-left: 35px;
	padding-top: 12px;
	width: 100px;

	position: relative;
}

.main-basket::before {
	content: "";

	position: absolute;
	top: 12px;
	left: 4px;

	width: 20px;
	height: 20px;

	background-image: url("../img/icon-cart.svg");
	background-repeat: no-repeat;

	opacity: 0.3
}

.main-basket:hover::before {
	opacity: 1;
}

.main-basket:focus::before {
	opacity: 0.3;
}

.main-basket:active::before {
	opacity: 0.5;
}

.main-checkout {
	background-color: #63a63e;
	color: #ffffff;
	text-align: center;
	padding-top: 12px;

	width: 150px;

}

.main-menu	a[href]:nth-of-type(4):hover,
.main-menu	a[href]:nth-of-type(4):focus {
	background-color: #5fbb2d;
}

.main-menu	a[href]:nth-of-type(4):active {
	background-color: #518534;
}

/*корзина в каталоге*/
.main-basket-full {
	background-color: #ee3643;
}

.main-menu .main-basket-full:hover,
.main-menu .main-basket-full:focus {
	background-color: #ca2c37;
	color: #ffffff;
}

.main-menu .main-basket-full:active {
	background-color: #ba2732;
	color: #ffffff;
}

/*end*/
.header-row {
	margin-bottom: 39px;
	display: flex;
	justify-content: space-between;
}

.heading {
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;
	background-color: #f3f7f9;
	font-style: italic;
	width: 200px;

	margin: 0px;
	padding: 0px;

	margin-left: 52px;
}

.header-wrapper {
	width: 270px;
	margin-top: 10px;

}

.phone {
	font-size: 21px;
	line-height: 21px;
	background-color: #f3f7f9;
	color: #ee3643;
	border: 3px solid #ffffff;

	padding: 7px 50px 8px 70px;

	position: relative;

}

.phone::before {
	content: "";

	position: absolute;
	top: 10px;
	left: 11px;

	width: 18px;
	height: 20px;

	background-image: url("../img/icon-phone.svg");
	background-repeat: no-repeat;
}

.direction {
	font-size: 14px;
	line-height: 24px;
	color: #32425c;

	margin: 0px;
	margin-top: 12px;

	text-align: center;
}

/* профиль в каталоге*/
.profile {
	background-color: #ffffff;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.profile-wrapper {
}

.profile .profile-link {
	font-size: 21px;
	line-height: 21px;
	color: #000000;
}

.profile-link:active {
	opacity: 0.3;
}

.user-navigation {
	list-style: none;
	width: 280px;
	padding: 0px;
	margin: 0px;
	display: flex;
	justify-content: space-between;
}

.main-header .navigation-catalog a {
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
	text-decoration: underline;
}

/*end*/
.user-navigation a {
	font-size: 21px;
	line-height: 21px;
	color: #000000;

}

.login-link	{
	box-sizing: border-box;
	width: 120px;

	padding: 10px;
	padding-left: 46px;


	background-color: #ffffff;

	align-self: flex-start;

	position: relative;
}

.login-link::before {
	content: "";

	position: absolute;
	top: 12px;
	left: 13px;

	width: 20px;
	height: 20px;

	background-image: url("../img/icon-login.svg");
	background-repeat: no-repeat;

	opacity: 0.1
}

.login-link:hover::before,
.login-link:focus::before {
	opacity: 1;
}

.login-link:active::before {
	opacity: 0.1;
}

.registration-link {
	box-sizing: border-box;
	width: 150px;
	text-align: center;

	padding: 10px;

	background-color: #ffffff;

	align-self: flex-start;

	position: relative;
}

.user-navigation a[href]:hover,
.user-navigation a[href]:focus {
	color: #ee3643;
}

.user-navigation a[href]:active {
	color: rgba(0, 0, 0, 0.3);
}

.main-nav {
	margin-bottom: 60px;
}

.site-navigation {
	font-size: 17px;
	line-height: 17px;
	color: #ffffff;
	list-style: none;
	padding: 0px;
	background-color: #32425c;
	margin: 0px;

	display: flex;
	justify-content: space-between;

	box-shadow:  0px 5px 0 0 rgba(41, 52, 73, 1);
}

.site-navigation li {
	flex-grow: 1;
}
.site-navigation a {
	display: block;

	padding: 20px 0px 18px 0px;
	text-align: center;
}

.site-navigation a[href]:hover,
.site-navigation a[href]:focus {
	background-color: #293449;
}

.site-navigation a[href]:active {
	background-color: #1d2739;
}

/*Лист предложений*/
.suggestion {
	margin-bottom: 33px;
}

.suggestion-list {
	list-style: none;
	color: #ffffff;
	margin: 0px;
	padding: 0px;
	display: flex;
	justify-content: space-between;
}

.suggestion-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.suggestion-wrapper:nth-child(1) {
	margin-right: 20px;
}

.suggestion-item {
	width: 300px;
	margin-bottom: 20px;
}

.suggestion-item:nth-child(1) {
	background-color: #dc91d8;

	background-image: url("../img/icon-3.svg");
	background-repeat: no-repeat;
	background-position: 192px 30px;
}

.suggestion-item:nth-child(2) {
	background-color: #8ed78f;

	background-image: url("../img/icon-4.svg");
	background-repeat: no-repeat;
	background-position: 197px 25px;
}

.suggestion-item:nth-child(3) {
	background-color: #ffbf47;

	background-image: url("../img/icon-5.svg");
	background-repeat: no-repeat;
	background-position: 192px 32px;
}

.suggestion-color:nth-child(1) {
	background-color: #ffbf47;

	background-image: url("../img/icon-1.svg");
	background-repeat: no-repeat;
	background-position: 213px 30px;
	}

.suggestion-color:nth-child(2) {
	background-color: #3bbce3;

	background-image: url("../img/icon-2.svg");
	background-repeat: no-repeat;
	background-position: 197px 32px;
}

.suggestion-title {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;

	margin: 20px 0px 12px 22px;
}

.suggestion-btn {
	display: block;
	width: 135px;
	font-size: 14px;
	line-height: 18px;
	background-color: rgba(0, 0, 0, 0.1);

	margin-bottom: 22px;
	margin-left: 25px;

	text-transform: uppercase;
	text-align: center;
	padding: 10px 0px;

	border-radius: 3px;
}

.suggestion-btn[href]:hover,
.suggestion-btn[href]:focus {
	background-color: rgba(0, 0, 0, 0.2);
}

.suggestion-btn[href]:active {
	background-color: rgba(0, 0, 0, 0.3);
}

/*слайдер*/
.suggestion-list .slider {
	color: #ffffff;
	width: 620px;
	min-height: 266px;

	background-color: #999999;

	position: relative;
}



.slide {
	display: none;
	width: 620px;
	min-height: 266px;
	position: absolute;
	top: 0;
	left: 0;
}
.slider-control {
	position: absolute;
	bottom: 25px;
	left: 290px;
	z-index: 20;

	font-size: 0;
}

.slider-control label {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 10px;

	vertical-align: top;

	background-color: #ffffff;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}

.slider1 {
	background-color: #849d8f;
	background-image: url("../img/slider1.jpg");
	background-position: center;
}

.slider2 {
	background-color: #849d8f;
	background-image: url("../img/slider2.jpg");
	background-position: center;
}

.subtitle {
	display: block;
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;

	margin-left: 24px;
	margin-top: 25px;
}

.slogan {
	font-family: "PT Sans", Helvetica, sans-serif;
	font-size: 18px;
	line-height: 24px;

	margin-left: 25px;
	margin-top: 0px;
}

.slide-btn {
	display: block;
	width: 175px;

	text-align: center;
	text-transform: uppercase;

	padding: 10px;

	position: relative;
	left: 25px;
	bottom: -103px;

	border-radius: 3px;
}

#product-1:checked ~ .slider .slider-wrapper #slider1,
#product-2:checked ~ .slider .slider-wrapper #slider2 {
  display: block;
}

#product-1:checked ~ .slider label[for="product-1"],
#product-2:checked ~ .slider label[for="product-2"] {
  background-color: #ee3643;
}

.slide::before {
	content:"";

	width: 25px;
	height: 45px;

	position: absolute;
	top: 114px;
	left: 25px;

	background-image: url("../img/icon-left.svg");
	background-repeat: no-repeat;
}

.slide::after {
	content:"";

	width: 25px;
	height: 45px;

	position: absolute;
	top: 114px;
	right: 17px;

	background-image: url("../img/icon-right.svg");
	background-repeat: no-repeat;
}
/*популярные товары*/
.title {
	font-size: 30px;
	line-height: 30px;
	color: #32425c;

	margin: 0px;
	padding: 28px 0px 30px 28px;
}

.popular-heading {
	display: flex;
	justify-content: space-between;

	background-color: #f9f5f0;
	text-transform: uppercase;

	margin-bottom: 20px;
}

.main-btn {
	display: block;
	align-self: flex-start;

	margin-top: 27px;
	margin-right: 24px;
	padding: 10px 55px;

}
/*популярные производители*/
.popular-manufacturer {
	margin-bottom: 85px;
}

.manufacturer-list {
	list-style: none;
	margin: 0px;
	padding: 0px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.manufacturer-list li {
	width: 220px;
	min-height: 145px;
	border: solid 1px #e9e9e9;

	display: flex;
	justify-content: center;
	align-items: center;

	margin-bottom: 20px;
}

.manufacturer-list li:hover,
.manufacturer-list li:focus {
	box-shadow: 0px 10px 25px 0px rgba(0,0,0, 0.5);
}

.manufacturer-list li:active {
	box-shadow: 0px 10px 25px 0px rgba(0,0,0, 0.5);
	opacity: 0.3;
}
/*сервисы*/
.service {
	background-color: #f4f8f9;
	margin-bottom: 80px;
}

.service-title {
	font-size: 30px;
	line-height: 30px;
	color: #000000;
}

.service-text {
	font-family: "PT Sans", Helvetica, sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
}

.service-list {
	list-style: none;
	color: #ffffff;
	background-color: #32425c;
	margin: 0px;
	padding: 0px;
}

.service-link-active {
	background-color: #ffffff;
	color: #32425c;
}

.service-link[href]:hover,
.service-link[href]:focus {
	background-color: #293449;
	color: #ffffff;
}

.service-link[href]:active {
	background-color: #ffffff;
	color: #32425c;
}

/*слайдер сервиса*/
.slider-title {
	font-size: 36px;
	line-height: 24px;
	color: #32425c;
}

.slider-text {
	font-family: "PT Sans", Helvetica, sans-serif;
	font-size: 13px;
	line-height: 24px;
}

/*index-about*/
.about {
	width: 550px;
}

.info {
	margin-bottom: 85px;
	display: flex;
	justify-content: space-between;
}

.about-title {
	font-size: 30px;
	line-height: 30px;
	color: #000000;
}

.about-margin {
	margin-bottom: 85px;
}

.about-text {
	font-family: "PT Sans", Helvetica, sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.about-list li {
	font-size: 18px;
	line-height: 20px;
	text-align: center;
}

.map {
	margin-left: auto;
	display: flex;
	flex-direction: column;
}

.map-text {
	font-family: "PT Sans", Helvetica, sans-serif;
	font-size: 13px;
	line-height: 24px;
}

/*main-catalog*/

/*container-catalog*/
.container {
	background-color: #ffffff;
}

.catalog-heading {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #32425c;
	background-color: #f2f6f8;
	margin-bottom: 20px;
}

.breadcrumbs {
	margin: 0px;
	padding: 0px;
	margin-bottom: 25px;
	display: flex;
}

.breadcrumbs li {
	font-family: "PT Sans", Helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
	list-style: none;
	text-transform: uppercase;
}

.breadcrumbs a {
	color: #000000;
}

.catalog {
	display: flex;
	justify-content: space-between;
}

/*фильтр в каталоге*/
.filter {
	font-family: "PT Sans", Helvetica, sans-serif;
	width: 220px;
}

.filter-heading {
	font-size: 13px;
	line-height: 18px;

	margin-bottom: 20px
}

.filter-title {
	font-weight: 700;
	font-size: 17px;
	line-height: 30px;
	text-transform: uppercase;
}

.filter-output input[type="text"] {
	font-family: "PT Sans", Helvetica, sans-serif;
	font-size: 17px;
	line-height: 18px;
}

.filter-manufacturers,
.filter-battery {
	list-style: none;
	font-size: 15px;
	line-height: 20px;
}

.filter-btn {
	font-size: 13px;
	line-height: 18px;
	background-color: #ffffff;
	border: solid 1px #e5e5e5;
	text-align: center;
}

/*сортировка в каталоге*/
.sorting {
	font-family: "PT Sans", Helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
}

.sorting-btn {
	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dotted #ee3643;
}

.sorting-btn:hover,
.sorting-btn:focus {
	color: #000000;
	border-bottom: 1px solid #ee3643;
}

.sorting-btn:active {
	color: #ee3643;
	border: none;
}

/*catalog item*/
.catalog-list {
	font-family: "PT Sans", Helvetica, sans-serif;
	font-weight: 700;
	list-style: none;
	padding: 0px;
	margin: 0px;
	margin-bottom: 0px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.catalog-box {
	margin-left: 20px;
	width: 700px;
	margin-bottom: 20px;
}

.list-item {
	position:relative;
	width:218px;
	margin-bottom:20px;
	border:1px solid #ccc;
	line-height:20px;
	text-align:center;

	display:flex;
	flex-direction: column;
	align-items: center;
}

.img-item {
	margin-top: 29px;
}
.item-title {
	font-size: 18px;
	line-height: 20px;
	width: 160px;

	min-height:40px;
	padding:0 25px;
	margin-top:40px;
	margin-bottom: 0px;
}

.old-price {
	font-size: 17px;
	line-height: 18px;
	color: #999999;
	text-transform: uppercase;

	min-height:20px;

	margin: 10px 0px 9px 3px;
}

.price-btn {
	font-size: 18px;
	line-height: 20px;
	color: #ffffff;
	position:relative;

	width:80px;
	padding:9px 30px;
	margin-bottom: 21px;
	margin-left: 5px;

	background:#ee3643;
	border-radius:3px;

	text-transform: uppercase;
}

.price-2000 {
	margin-top: 39px;
	margin-bottom: 21px;
}

.price-btn::after{
    content:"";
    position:absolute;
    top:0;
    right:-20px;
    width:0;
    height:0;
    border:19px solid white;
    border-left-color:#ee3643;
}

.price-btn:hover,
.price-btn:focus {
	background-color: #ca2c37;
}

.price-btn:hover::after {
	background-color: #ba2732;
}
.price-btn:active {
	background-color: #ba2732;
}

.item-active {
	font-size: 14px;
	line-height: 18px;
}

.buy-btn {
	background-color: #63a63e;
	color: #ffffff;
}

.item-bookmarks {
	background-color: #ffffff;
	color: #32425c;
	border: solid 3px #63a63e;
}

.item-active{
    position:absolute;
    top:0;
    left:0;
    width:218px;
    height:88px;
    padding:40px 0;
    background-color:rgba(255,255,255,0.9);
    z-index:10;
}

.item-active .buy-btn,
.item-active .item-bookmarks {
	display:block;
	width:129px;
	margin:0 auto;
	margin-bottom:7px;
	padding:7px 0;

	text-transform: uppercase;
}

.list-item .item-active {
	display: none;
}

.list-item:hover .item-active {
	display: block;
}

.list-item:hover {
	box-shadow: 0px 10px 25px 0px rgba(0,0,0, 0.5);
}

.item-bookmarks:hover,
.item-bookmarks:focus {
	border: solid 3px #32425c;
}

.item-bookmarks:active {
	opacity: 0.3;
}

.buy-btn:hover,
.buy-btn:focus {
	background-color: #5fbb2d;
}

.buy-btn:active {
	background-color: #518534;
}

.flag-new {
	position:absolute;
	top:-1px;
	right:-1px;
	width:60px;
	height:59px;
	text-indent:-1000px;
	overflow:hidden;
	z-index:20;

	background-image: url("../img/new.png");
}
/*переключатель страниц каталога*/
.paginator {
	font-family: "PT Sans", Helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
}

.paginator-btn {
	border: 1px solid #e5e5e5;
}

.paginator .paginator-active {
	background-color: #ee3643;
	color: #ffffff;
}

.paginator-btn:hover,
.paginator-btn:focus {
	border: 1px solid #bdc6ca;
}

.paginator-btn:active {
	border: 1px solid #ee3643;
}

/*Описание*/
.description {
	background-color: #f2f6f8;

	width: 100%;
	padding-bottom: 40px;
}

.description-title {
	font-size: 30px;
	line-height: 30px;
}

.description-text {
	font-family: "PT Sans", Helvetica, sans-serif;

	margin: 0px;
}

/*footer*/
.main-footer {
	background-color: #32425c;
	color: #ffffff;
}

.footer-logo {
	font-size: 30px;
	line-height: 30px;
}

.footer-text {
	font-size: 18px;
	line-height: 24px;
}

.footer-navigation ul {
	font-size: 18px;
	line-height: 24px;
	list-style: none;
	width: 550px;
	display: flex;
	justify-content: space-between;
}

.navigation-list {
	margin-left: 25px;
}

.navigation-list a {
	color: #ffd180;
}

.footer-navigation a[href]:hover,
.footer-navigation a[href]:focus {
	text-decoration: underline;
}

.footer-navigation a[href]:active {
	opacity: 0.5;
}

.footer-row {
	background-color: #293449;
	font-size: 16px;
	line-height: 18px;
}

.footer-column1 {
	width: 240px;
}

.social-list {
	display: flex;
	justify-content: space-between;
}

.footer-column3 {
	width: 300px;
	display: flex;
	justify-content: space-between;
}

.social li {
	background-color: #212a3a;
	list-style: none;
}

.social	a[href]:hover,
.social	a[href]:focus,
.social	a[href]:active {
	color: #ee3643;
}

.feedback a {
	color: #ffd180;
}

.feedback a[href]:hover,
.feedback a[href]:focus {
	text-decoration: underline;
}

.feedback a[href]:active {
	color: #ee3643;
	text-decoration: none;
}

/*end*/
.modal {
	display: none;
}
