body {
	margin: 0;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	background-color: #ffffff;
}

a {
	text-decoration: none;
	color: inherit;
}

.btn {
	font-size: 14px;
	line-height: 18px;
	background-color: #ee3643;
	color: #ffffff;
}

.btn:hover, .btn:focus {
	background-color: #ca2c37;
}

.btn:active {
	background-color: #ba2732;
}

/*header*/
.main-header {
	background-color: #f2f6f8;
}

.main-menu {
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
	background-color: #293449;
}

.main-menu .logo:hover, .main-menu .logo:focus, .footer-logo:hover, .footer-logo:focus {
	background-color: #ca2c37;
	color: #ffffff;
}

.main-menu	.logo:active, .footer-logo:active {
	background-color: #ba2732;
	color: #ffffff;
}

.main-menu input[type="search"] {
	font: inherit;
	background-color: #293449;
	border: 0px;
}

.main-menu	input::placeholder {
	color: #ffffff;
}

.main-menu	input:focus {
	background-color: #ffffff;
	color: #000000;
}

.main-menu input:hover {
	background-color: #212a3a;
}

.main-menu a:hover, .main-menu a:focus {
	background-color: #212a3a;
}

.main-menu a:active {
	background-color: #161d29;
}

.main-checkout {
	background-color: #63a63e;
	color: #ffffff;
}

.main-menu	a:nth-of-type(4):hover, .main-menu	a:nth-of-type(4):focus {
	background-color: #5fbb2d;
}

.main-menu	a:nth-of-type(4):active {
	background-color: #518534;
}

/*index-about*/
.about-title {
	font-size: 30px;
	line-height: 30px;
	color: #000000;
}

.about-text {
	font-family: "PT Sans", Helvetica, sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.about-list li {
	font-size: 18px;
	line-height: 20px;
	text-align: center;
}

.map-text {
	font-family: "PT Sans", Helvetica, sans-serif;
	font-size: 13px;
	line-height: 24px;
}

/*main-catalog*/

/*корзина в каталоге*/

.main-basket-full {
	background-color: #ee3643;
}

.main-menu .main-basket-full:hover, .main-menu .main-basket-full:focus {
	background-color: #ca2c37;
	color: #ffffff;
}

.main-menu .main-basket-full:active {
	background-color: #ba2732;
	color: #ffffff;
}

/*end*/
.heading-row {
	background-color: #f3f7f9;
}

.heading {
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;
	background-color: #f3f7f9;
	font-style: italic;
}

.phone {
	font-size: 21px;
	line-height: 21px;
	background-color: #f3f7f9;
	color: #ee3643;
	border: 2px solid #ffffff;
}

.direction {
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
}

/* профиль в каталоге*/
.profile {
	background-color: #ffffff;
	list-style: none;
}

.profile .profile-link {
	font-size: 21px;
	line-height: 21px;
	color: #000000;
}

.profile-link:active {
	opacity: 0.3;
}

.user-navigation {
	list-style: none;
}

.main-header .navigation-catalog a {
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
	text-decoration: underline;
}

/*end*/
.user-navigation a {
	font-size: 21px;
	line-height: 21px;
	color: #000000;
}

.user-navigation a:hover, .user-navigation a:focus {
	color: #ee3643;
}

.user-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.site-navigation {
	font-size: 17px;
	line-height: 17px;
	color: #ffffff;
	background-color: #32425c;
	list-style: none;
}

.site-navigation a:hover, .site-navigation a:focus {
	background-color: #293449;
}

.site-navigation a:active {
	background-color: #1d2739;
}

/*container-catalog*/
.container {
	background-color: #ffffff;
}

.breadcrumbs li {
	font-family: "PT Sans", Helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
	list-style: none;
}

.breadcrumbs a {
	color: #000000;
}

/*catalog filter*/
.filter {
	font-family: "PT Sans", Helvetica, sans-serif;
}

.filter-heading {
	font-size: 13px;
	line-height: 18px;
}

.filter-title {
	font-weight: 700;
	font-size: 17px;
	line-height: 30px;
}

.filter-manufacturers, .filter-battery {
	list-style: none;
	font-size: 15px;
	line-height: 20px;
}

.filter-btn {
	font-size: 13px;
	line-height: 18px;
	background-color: #ffffff;
	border: solid 1px #e5e5e5;
	text-align: center;
}

/*catalog item*/
.catalog-heading {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #32425c;
	background-color: #f2f6f8;
}

.catalog-list {
	font-family: "PT Sans", Helvetica, sans-serif;
	font-weight: 700;
	list-style: none;
}

.item-tile {
	font-size: 18px;
	line-height: 20px;
}

.old-price {
	font-size: 17px;
	line-height: 18px;
	color: #999999;
}

.price-btn {
	font-size: 18px;
	line-height: 20px;
	background-color: #ee3643;
	color: #ffffff;
}

.price-btn:hover, .price-btn:focus {
	background-color: #ca2c37;
}

.price-btn:active {
	background-color: #ba2732;
}

.item-active {
	font-size: 14px;
	line-height: 18px;
}

.buy-btn {
	background-color: #63a63e;
	color: #ffffff;
}

.item-bookmarks {
	background-color: #ffffff;
	color: #32425c;
	border: solid 3px #63a63e;
}

.item-bookmarks:hover, .item-bookmarks:focus {
	border: solid 3px #32425c;
}

.item-bookmarks:active {
	opacity: 0.3;
}

.buy-btn:hover, .buy-btn:focus {
	background-color: #5fbb2d;
}

.buy-btn:active {
	background-color: #518534;
}

/*footer*/
.main-footer {
	background-color: #32425c;
	color: #ffffff;
}

.footer-logo {
	font-size: 30px;
	line-height: 30px;
}

.footer-text {
	font-size: 18px;
	line-height: 24px;
}

.footer-navigation ul {
	font-size: 18px;
	line-height: 24px;
	list-style: none;
}

.navigation-list a {
	color: #ffd180;
}

.footer-navigation a:hover, .footer-navigation a:focus {
	text-decoration: underline;
}

.footer-navigation a:active {
	opacity: 0.5;
}

.footer-row {
	background-color: #293449;
	font-size: 16px;
	line-height: 18px;
}

.social li {
	background-color: #212a3a;
	list-style: none;
}

.social	a:hover, .social	a:focus, .social	a:active {
	color: #ee3643;
}

.feedback a {
	color: #ffd180;
}

.feedback a:hover, .feedback a:focus {
	text-decoration: underline;
}

.feedback a:active {
	color: #ee3643;
	text-decoration: none;
}

/*end*/
.modal {
	display: none;
}
